#listing table, td, th
{
font-size: 14px;
font-weight: normal;
padding: 12px 15px;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
}
#listing tr
{
background-color:#2D2D2D;
color:white;
}

#listing .evenclass
{
background-color:#F5F5F5;
color:#2D2D2D;
}

#listing .oddclass
{
background-color:#F0F0F0;
color:#2D2D2D;
}

#listing tr a{
color:white;
}

#listing .evenclass a
{
color:#2D2D2D;
}

#listing .oddclass a
{
color:#2D2D2D;
}