#listing ul{
  width:100%;
  overflow:hidden;
  border-top:1px solid #ccc;
}

#listing li{
  line-height:1.5em;
  float:left;
  display:inline;
  width:16.666%;
}

#listing .heading li
{
background:#333;
color:#fff;
}

#listing .lightpink li
{
background:#FFD4FF;
color:#000000;
}

#listing .white li
{
background:#FFFFFF;
color:#000000;
}

