form {
background: #F5F5F5;
border: 1px solid #D2D2D2;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
counter-reset: fieldsets;
padding: 20px;
}

form fieldset {
border: none;
margin-bottom: 10px;
}

form fieldset:last-of-type {
margin-bottom: 0;
}

form legend {
display:block;
width:100%;
color: #ffffff;
background: #4C443C;
font-size: 16px;
font-weight: bold;
padding-bottom: 10px;
text-shadow: 0 1px 1px #D2D2D2;
}

form > fieldset > legend:before {
/*content: "Step " counter(fieldsets) ": ";*/
counter-increment: fieldsets;
}

form fieldset fieldset legend {
color: #111111;
font-size: 13px;
font-weight: normal;
padding-bottom: 0;
}

form ol li {
background: #F5F5F5;
background: rgba(255,255,255,.3);
border-color: #e3ebc3;
border-color: #E1E1E1;
border-style: solid;
border-width: 2px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
line-height: 30px;
list-style: none;
padding: 5px 10px;
margin-bottom: 2px;
}
	
form ol ol li {
background: none;
border: none;
float: left;
}

form label {
float: left;
font-size: 13px;
}

form fieldset fieldset label {
background:none no-repeat left 50%;
line-height: 20px;
padding: 0 0 0 30px;
width: auto;
}

form fieldset fieldset label:hover {
cursor: pointer;
}

form input:not([type=radio]),
form textarea {
background: #ffffff;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
font: 13px Georgia, "Times New Roman", Times, serif;
outline: none;
padding: 5px;
}


form input[type=radio] {
float: left;
margin-right: 5px;
}

form button {
background: #FFFFFFF;
border: 1px solid #D2D2D2;
color: #000000;
display: block;
font: 12px Arial, Georgia, "Times New Roman", Times, serif;
font-weight: bolder;
letter-spacing: 1px;
margin: auto;
padding: 7px;
text-transform: uppercase;
}

form button:hover {
background: #E1E1E1;
cursor: pointer;
}


form select:not([multiple]) {
border: 1 !important;
-webkit-appearance: none;
-moz-appearance: none;
background: url('../images/bullet_arrow_down.png') no-repeat;
background-position: 264px;
width: 300px;
text-indent: 0.01px;
text-overflow: "";
}


select:not([multiple]) {
border: 1 !important;
-webkit-appearance: none;
-moz-appearance: none;
background: url('../images/bullet_arrow_down.png') no-repeat;
background-position: 264px;
width: 300px;
text-indent: 0.01px;
text-overflow: "";
}


form select:[multiple] {
border: 1 !important;
-webkit-appearance: none;
-moz-appearance: none;
width: 300px;
text-indent: 0.01px;
text-overflow: "";
}


select:[multiple] {
border: 1 !important;
-webkit-appearance: none;
-moz-appearance: none;
width: 300px;
text-indent: 0.01px;
text-overflow: "";
}


form textarea{
	width: 300px;
	height: 120px;
	padding: 5px;
	border: 1px solid #D2D2D2;
}

form input[type=text]{
	width: auto;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
	background: #ffffff;
	border: 1px solid #D2D2D2;
}

form input[type=password]{
	width: auto;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
	background: #ffffff;
	border: 1px solid #D2D2D2;
}



form.form2 {
background: #F5F5F5;
border: 1px solid #D2D2D2;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
counter-reset: fieldsets;
padding: 20px;
width:600px;
}

form.form2 fieldset {
border: none;
margin-bottom: 10px;
}

form.form2 fieldset:last-of-type {
margin-bottom: 0;
}

form.form2 legend {
display:block;
width:100%;
color: #ffffff;
background: #4C443C;
font-size: 16px;
font-weight: bold;
padding-bottom: 10px;
text-shadow: 0 1px 1px #D2D2D2;
}

form.form2 > fieldset > legend:before {
/*content: "Step " counter(fieldsets) ": ";*/
counter-increment: fieldsets;
}

form.form2 fieldset fieldset legend {
color: #111111;
font-size: 13px;
font-weight: normal;
padding-bottom: 0;
}

form.form2 ol li {
background: #F5F5F5;
background: rgba(255,255,255,.3);
border-color: #e3ebc3;
border-color: #E1E1E1;
border-style: solid;
border-width: 2px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
line-height: 30px;
list-style: none;
padding: 5px 10px;
margin-bottom: 2px;
}
	
form.form2 ol ol li {
background: none;
border: none;
float: left;
}

form.form2 label {
float: left;
font-size: 13px;
}

form.form2 fieldset fieldset label {
background:none no-repeat left 50%;
line-height: 20px;
padding: 0 0 0 30px;
width: auto;
}

form.form2 fieldset fieldset label:hover {
cursor: pointer;
}

form.form2 input:not([type=radio]),
form.form2 textarea {
background: #ffffff;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
font: 13px Georgia, "Times New Roman", Times, serif;
outline: none;
padding: 5px;
}


form.form2 input[type=radio] {
float: left;
margin-right: 5px;
}

form.form2 button {
background: #FFFFFFF;
border: 1px solid #D2D2D2;
color: #000000;
display: block;
font: 12px Arial, Georgia, "Times New Roman", Times, serif;
font-weight: bolder;
letter-spacing: 1px;
margin: auto;
padding: 7px;
text-transform.form2: uppercase;
}

form.form2 button:hover {
background: #E1E1E1;
cursor: pointer;
}


form.form2 select {
-webkit-appearance: button;
-webkit-border-radius: 2px;
-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
-webkit-padding-end: 0px;
-webkit-padding-start: 0px;
-webkit-user-select: none;
background-image: url(../images/bullet_arrow_down.png), 
-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
background-position: center right;
background-repeat: no-repeat;
border: 1px solid #AAA;
color: #555;
font-size: inherit;
margin: 0;
overflow: hidden;
padding-top: 2px;
padding-bottom: 2px;
text-overflow: ellipsis;
}


form.form2 textarea{
	width: 300px;
	height: 120px;
	padding: 5px;
	border: 1px solid #D2D2D2;
}

form.form2 input[type=text]{
	width: 400px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
	background: #ffffff;
	border: 1px solid #D2D2D2;
}

form.form2 input[type=password]{
	width: auto;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
	background: #ffffff;
	border: 1px solid #D2D2D2;
}

input[type=checkbox] {
    padding-left:5px;
    padding-right:5px;
    width:15px;
    height:15px;
}

input[type=checkbox]:checked {
    box-shadow:0px 0px 10px #696969;
}

input[type=checkbox]:hover {
    box-shadow:0px 0px 10px #696969;
}