body{ 
font-family:Arial,'Arial Unicode MS'; 
font-size:14px; 
font-weight:normal; 
line-height:20px; 
}

#blogpclass{ 
font-size:17px; 
} 

.middletext{
font-size:14px; 
}

.bigtext{
font-size:18px; 
}

img{ border:0;}
h1, h2, h3{font-weight:normal; color:#000000; line-height:24px;}
h1{font-size:24px;}
h2{font-size:22px;}
h3{font-size:20px;}
img{border:0;}
p{margin:13px 0;}
blockquote{display:block;}

.whitetext{font-weight:normal; color:#FFFFFF; line-height:24px;}
.whitetextbold{font-weight:bolder; color:#FFFFFF; line-height:24px;}



a:link {color:#0F0F0F;}
a:visited {color:#2D2D2D;}
a:hover {color:#C95C5C;}
a:active {color:#0000FF;}


iframe{
width: 100%;
height: 100%;
overflow: hidden;
border: none;
}

label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }

.logoclass { 
text-decoration:none; 
border:0; 
width : 100%; 
height : 110px; 
margin : 0px; 
padding : 0; 
background : url(../images/logo.png) no-repeat 0 0;
background-color: #C95C5C;
}

.logotext:after{
margin:0 0 0 150px;
font-size:16px;
font-weight:bolder;
color:#FFFFFF;
content:"SIYA - STUDENT INFORMATION YARN";
}

.logotext2:after{
margin:0 0 0 150px;
font-size:14px;
font-weight:bold;
color:#FFFFFF;
content:"An Open Source Student Information Management System based on OPENTADKA (TM) Framework";
}



.headingh3 {
display: block;
padding: 5px 10px;
background: #777 url(../images/button.png) repeat-x bottom;
border: none;
cursor: pointer;
font-weight: bold;
text-shadow: 1px 1px #666;
color: #fff;
width:90%;
background-color: #4C443C; color: #fff;
}

.headingh3:link {
color: #fff;
}

.headingh3:hover {
background-position: 0 center;
color: #fff;
}
.headingh3:active {
background-position: 0 top;
position: relative;
top: 1px;
padding: 6px 10px 4px;
color: #fff;
}

.headingh3:visited {
background-position: 0 top;
position: relative;
top: 1px;
padding: 6px 10px 4px;
color: #fff;
}

.loggedinuserdiv{
width:100%; float:left; background:#F5F5F5; border-bottom:1px solid #000;
}
